<a href="family">Home</a> / Profile

<h1>{{family.familyName}}</h1>
<div>
    <a href="family/{{family._id}}/edit">Update INFO</a>
</div>
<div>
    <a href="family/{{family._id}}/delete">Delete ME</a>
</div>
<div>Members Name:
    <strong>{{family.familyName}}</strong>
</div>
<div>Email:
    <strong>{{family.email}}</strong>
</div>
<div>
    <a href="family/{{family._id}}/members">Members in your Family</a>
</div>