<div>
<a href="family">Home</a> / Profile
</div>

<h1>{{family.familyName}}</h1>
<div>
    <a href="family/{{family._id}}/edit">Update Info</a>
</div>
<div>
    <a href="family/{{family._id}}/delete">Delete Me</a>
</div>
<div>Members Name:
    <strong>{{family.familyName}}</strong>
</div>
<div>
    <a href="family/{{family._id}}/members">Members in your Family</a>
</div>