<div>
    <a href="/family">Home</a> /
    <a href="/family/{{familyId}}">Profile</a> /
    <a href="/family/{{familyId}}/member">Members</a> /
    <a href="/family/{{familyId}}/member/{{member._id}}">{{member.name}}</a> / Activities
</div>

<div>
    <div>
        <h1>{{activity.title}}</h1>
        <div>Description: {{activity.description}}</div>
        <a class="button warning" href="/family/{{familyId}}/members/{{member._id}}/activity/{{activity._id}}/delete">Delete</a>
    </div>
</div>