<div>
  <a href="/family">Home</a> /
  <a href="/family/{{familyId}}">Profile</a> / Members
</div>
<div>
  <h1>{{family.familyName}}'s Members</h1>
  <div class="button primary">
    <a href="/family/{{familyId}}/members/new">Add a New Member</a>
  </div>
</div>
    <a class="button warning" href="/family/{{familyId}}/members/{{family._id}}/delete">Delete</a>
<div>
  {{#each member}}
  <div>
    <a href="/family/{{../familyId}}/members/{{this._id}}">
      <h3>{{this.name}}</h3>
    </a>
    <p>{{this.gender}}</p>
  </div>
  {{/each}}
</div>