<div>
    <a href="/family">Home</a> /
    <a href="/family/{{familyId}}">Profile</a> /
    <a href="/family/{{familyId}}/members">Members</a> / {{member.name}}
</div>
<div>
    <div>
        <h1>{{member.name}}</h1>
        <h3>Age: {{member.age}}</h3>
    </div>

</div>

<div>
    <div>
        <a class="button primary" href="/family/{{familyId}}/members/{{member._id}}/activity/new">Add an activity</a>
    </div>
    <div>
        <a class="button warning" href="/family/{{familyId}}/members/{{member._id}}/delete">Delete</a>
    </div>
    <div>
        <a class="button primary" href="/family/{{familyId}}/members/{{member._id}}/edit">Edit</a>
    </div>
    <div>

        <div>
            {{#each member.activities}}
            <div>
                <a href="/family/{{../familyId}}/members/{{../member._id}}/activity/{{this._id}}">
                    {{this.title}}</br>
                </a>
            </div>
            {{/each}}
        </div>